//* Colors
$bg-color-header: #FFFFFF;
$bg-color-main: #1C1C1C;
$bg-color-footer-top: #0282F9;
$bg-img-footer-mid: url(../public/img/footer-bg.jpg);
$bg-color-footer-bottom: #303030;

//* utilities
// @mixin flex{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }